<p>statistics works!</p>
<div class="container-fluid">
  <div class="row">
    <div class="col" class="stats">
      <div class="card text-bg-primary mb-3" style="width: 14rem">
        <div class="card-header text-center h4">Sales</div>
        <div class="card-body">
          <h6 class="card-title text-center mb-4">Total Stocks Sold</h6>
          <p class="card-text d-flex justify-content-center h1">10</p>
          <p class="card-text d-flex justify-content-center">qty</p>
        </div>
      </div>
      <div class="card text-bg-success mb-3" style="width: 14rem">
        <div class="card-header text-center h4">Inventory</div>
        <div class="card-body">
          <h6 class="card-title text-center mb-4">Total Stocks in Inventory</h6>
          <p class="card-text d-flex justify-content-center h1">1009</p>
          <p class="card-text d-flex justify-content-center">pkgs</p>
        </div>
      </div>
      <div class="card text-bg-danger mb-3" style="width: 14rem">
        <div class="card-header text-center h4">Upcoming Inventory</div>
        <div class="card-body">
          <h6 class="card-title text-center mb-4">Total upcoming inventory</h6>
          <p class="card-text d-flex justify-content-center h1">499</p>
          <p class="card-text d-flex justify-content-center">units</p>
        </div>
      </div>
      <div class="card text-bg-warning mb-3" style="width: 14rem">
        <div class="card-header text-center h4">No.of Supplier</div>
        <div class="card-body">
          <h6 class="card-title text-center mb-4">Total no. of Suppliers</h6>
          <p class="card-text d-flex justify-content-center h1">149</p>
          <p class="card-text d-flex justify-content-center">nos</p>
        </div>
      </div>
      <div class="card text-bg-secondary mb-3" style="width: 14rem">
        <div class="card-header text-center h4">Out of Stock</div>
        <div class="card-body">
          <h6 class="card-title text-center mb-4">
            Total no. of out of stocks
          </h6>
          <p class="card-text d-flex justify-content-center h1">8</p>
          <p class="card-text d-flex justify-content-center">units</p>
        </div>
      </div>
    </div>
  </div>
</div>
